@import "variables";

body {
  background-color: $background-blue;
  color: white;
  font-family: 'Open sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: $urbanist;
}

.header__accordion--font {
  font-family: 'Open sans';
}

header {
  margin-top: 2em;
  margin-bottom: 4em;
}

.menu-mobile {

  svg {
    width:24x;
    height: 24px;
  }

}

.menu-mobile-options {
  background: black;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;

  li {
  
    margin-bottom: 20px;
    font-size: 2em;

    a {
      padding: 0;
    }
  }

  svg {
    width: 16px;
  }
}

h1 {
  font-size: 64px;
  max-width: 500px;
}

article {
  margin-bottom: 2em;
}

.button {
  border: 1px solid #fff;
  border-width: 2px;
  color: #fff;
  padding: 12px 18px;
  border-radius: 30px;
  transition: transform .3s;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.2);
  }
}


.text-p{
    color: #cacaca;
  }


.card {
  padding: 1em;
  border-radius: 5px;

  img {
    max-width: 100%;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }

  a {
    font-weight: bold;
    color: white;
  }
}

.card--violet {
  background-color: $card-background;

  p, h3 {
    color: white;
  }
}

header img {
  max-height: 40px;
}

.nav--item {
  &::after {
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    transition: .3s;
    content: "";
  }

  &:hover::after {
    width: 70%;
  }
}

header .nav-link {
  color: white;

  &:hover, &:focus {
    color: white;
  }
}

#beneficios{
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;

lottie-player{
  width:60%;
  display: block;
  margin: 0 auto;
}

}


.conceptos .card{
  img{
    margin-bottom: 1em;
  }

  a{
    text-decoration: none;
    color: #B362F7;
  }
}

.noticia-individual {
    border-radius: 8px;
    overflow: hidden;

    .img-card {
      overflow: hidden;
      img {
        transform: scale(3);
      }
    }
    .text-details {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

#contact .container{
  padding: 2em;
}

.error-text.text-center {
  background-image: url(../archives/error-404.png);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-top: 6em;
  padding-bottom: 6em;
}

footer {
  margin: 2em 0;

  .copyright{

    p{
      margin-bottom: 10px;
    }
  }
  
  .ico{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: 0.3s;

    &:hover{
      transform: scale(1.2);
    }

    svg{
      display: block;
      color: white;
    }

    // Desafio Sass complementario

    @each $color in $rrss-colors {
      &.#{nth($color,1)} {
        svg{
          &:hover{
            color:nth($color,2);
          }
        }
      }
    }
  }

}

@media (min-width: 1000px) {
  .menu-mobile, .menu-mobile-options {
    display: none;
  }

}

@media (max-width: 999px) {
  .menu-desktop {
    display: none;
  }

}

